body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-image: url(w4.jpg);
}

ol, ul {
  padding-left: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {

  border: 1px solid #999;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 34px;
  height: 30px;
  margin-right: -5px;
  margin-top: -5px;
  padding: 0;
  text-align: center;
  width: 30px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

input {
  margin: 5px;
}
